In [7]:
import pandas as pd

lexicon_path = "C:/Users/kdzhou/source/repos/CrisisLex/lexicons"

In [26]:
ch2_tb = pd.read_csv(
    f"{lexicon_path}/LonelinessT_with_scores_chi2.txt", 
    header=None, 
    sep=",", 
    names=["Word", "Chi2", "Term freq (chi2)"]
)

frq_tb = pd.read_csv(
    f"{lexicon_path}/LonelinessT_with_scores_frequency.txt", 
    header=None, 
    sep=",",
    names=["Word", "Frequency", "Term freq (freq)"]
)

pmi_tb = pd.read_csv(
    f"{lexicon_path}/LonelinessT_with_scores_pmi.txt", 
    header=None, 
    sep=",",
    names=["Word", "PMI", "Term freq (pmi)"]
)

In [27]:
main_tb = pd.merge( 
    left = ch2_tb,
    left_on = "Word",
    right = frq_tb,
    right_on = "Word",
    how = "outer"
)

main_tb

            Word      Chi2  Term freq (chi2)  Frequency  Term freq (freq)
0         lonely  1.000000            2228.0   0.997576            2228.0
1        friends  0.999365            3211.0   0.999394            3211.0
2           feel  0.998731            3918.0   1.000000            3918.0
3          alone  0.998096            1805.0   0.992727            1805.0
4            one  0.997462            2378.0   0.995758            2378.0
..           ...       ...               ...        ...               ...
531         face       NaN               NaN   0.760606             185.0
532      partner       NaN               NaN   0.760000             173.0
533  really want       NaN               NaN   0.759394             174.0
534    attention       NaN               NaN   0.758788             187.0
535         seen       NaN               NaN   0.758182             199.0

[536 rows x 5 columns]

In [28]:
main_tb = pd.merge( 
    left = main_tb,
    left_on = "Word",
    right = pmi_tb,
    right_on = "Word",
    how = "outer"
)

main_tb

,Word,Chi2,Term freq (chi2),Frequency,Term freq (freq),PMI,Term freq (pmi)
0,lonely,1.000000,2228.0,0.997576,2228.0,0.862944,2228.0
1,friends,0.999365,3211.0,0.999394,3211.0,NaN,NaN
2,feel,0.998731,3918.0,1.000000,3918.0,NaN,NaN
3,alone,0.998096,1805.0,0.992727,1805.0,0.770939,1805.0
4,one,0.997462,2378.0,0.995758,2378.0,NaN,NaN
...,...,...,...,...,...,...,...
760,group friends,NaN,NaN,NaN,NaN,0.750635,87.0
761,couple weeks,NaN,NaN,NaN,NaN,0.749365,36.0
762,time really,NaN,NaN,NaN,NaN,0.748731,36.0
763,like really,NaN,NaN,NaN,NaN,0.748096,73.0
764,people know,NaN,NaN,NaN,NaN,0.747462,73.0

In [29]:
main_tb.to_csv("LonelinessT6Lexicon.csv", sep=",")